<div class="container">
  <h4 class="mv-opt-title mt-5 mb-5">GESTION DE TRAMITES POR PRIORIDAD</h4>
</div>
<div class="card">
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-middle">
      <select [(ngModel)]="filtroPrioridad" id="dd-menu" class="dd-menu">
        <option value="" disabled selected hidden>Buscar por</option>
        <option class="dd-item" value="1">Alta</option>
        <option class="dd-item" value="2">Media</option>
        <option class="dd-item" value="3">Baja</option>
      </select>
      <button id="reset-filters" (click)="quitarFiltro()">QUITAR FILTRO</button>
      <div class="d-flex justify-content-end align-items-middle">
        <div class="search">
          <i id="input-icon" class="bi bi-search"></i>
          <input type="text" class="form-group input-field" [(ngModel)]="busqueda">
        </div>
        <button id="search-btn" class="btn" (click)="buscarPor()">BUSCAR</button>
      </div>
    </div>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-borderless text-center align-middle"
  *ngIf="busquedaPrestador.length == 0 && busquedaTramite.length == 0">
    <thead class="table-header">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Prioridad</th>
      <th scope="col">Trámite</th>
      <th scope="col">Fecha Límite</th>
      <th scope="col">Prestador</th>
      <th scope="col">Acciones</th>
    </tr>
    </thead>
    <tbody class="table-body">
    <tr *ngFor="let tramite of tramites |
    paginate: { itemsPerPage: 5, currentPage: p, totalItems: tramites.length }">
      <td>{{ tramite.id }}</td>
      <td>{{ tramite.prioridad.nombre }}</td>
      <td>{{ tramite.nombre }}</td>
      <td>{{ tramite.fechaLimite | date }}</td>
      <td>{{ tramite.prestador.usuario.nombre }} {{ tramite.prestador.usuario.apellidoP }}</td>
      <td>
        <button class="btn action-btn">VER TRAMITE</button>
      </td>
    </tr>
    </tbody>
  </table>
  <table class="table table-borderless text-center align-middle"
  *ngIf="busquedaPrestador.length > 0">
    <thead class="table-header">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Prioridad</th>
      <th scope="col">Trámite</th>
      <th scope="col">Fecha Límite</th>
      <th scope="col">Prestador</th>
      <th scope="col">Acciones</th>
    </tr>
    </thead>
    <tbody class="table-body">
    <tr *ngFor="let tramite of tramites |
    paginate: { itemsPerPage: 5, currentPage: p, totalItems: prestadores.length }">
      <td>{{ tramite.id }}</td>
      <td>{{ tramite.prioridad.nombre }}</td>
      <td>{{ tramite.nombre }}</td>
      <td>{{ tramite.fechaLimite | date }}</td>
      <td>{{ tramite.prestador.usuario.nombre }} {{ tramite.prestador.usuario.apellidoP }}</td>
      <td>
        <button class="btn action-btn">VER TRAMITE</button>
      </td>
    </tr>
    </tbody>
  </table>
  <table class="table table-borderless text-center align-middle"
  *ngIf="busquedaTramite.length > 0">
    <thead class="table-header">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Prioridad</th>
      <th scope="col">Trámite</th>
      <th scope="col">Fecha Límite</th>
      <th scope="col">Prestador</th>
      <th scope="col">Acciones</th>
    </tr>
    </thead>
    <tbody class="table-body">
    <tr *ngFor="let tramite of tramites |
    paginate: { itemsPerPage: 5, currentPage: p, totalItems: prestadores.length }">
      <td>{{ tramite.id }}</td>
      <td>{{ tramite.prioridad.nombre }}</td>
      <td>{{ tramite.nombre }}</td>
      <td>{{ tramite.fechaLimite | date }}</td>
      <td>{{ tramite.prestador.usuario.nombre }} {{ tramite.prestador.usuario.apellidoP }}</td>
      <td>
        <button class="btn action-btn">VER TRAMITE</button>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-center">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
