<div class="container">
  <h4 class="mv-opt-title mt-5 mb-5">GESTION DE TRAMITES POR PROYECTO</h4>
</div>
<div class="container mb-5">
  <div class="mv-option-group">
    <a href="#" class="mv-option mv-opt-text">
      <div class="icon"><i class="bi bi-file-text-fill"></i></div>
      <div class="inner-text">PROYECTO 007</div>
    </a>
    <a href="#" class="mv-option mv-opt-text">
      <div class="icon"><i class="bi bi-file-text-fill"></i></div>
      <div class="inner-text">PROYECTO 626</div>
    </a>
    <a href="#" class="mv-option mv-opt-text">
      <div class="icon"><i class="bi bi-file-text-fill"></i></div>
      <div class="inner-text">PROYECTO 123</div>
    </a>
  </div>
</div>
<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="d-flex justify-content-between mv-opt-text">
        <div id="project-id">PROYECTO</div>
        <div class="d-flex justify-content-end align-items-middle">
          <div class="search">
            <i id="input-icon" class="bi bi-search"></i>
            <input type="text" placeholder="NOMBRE DEL PRESTADOR" class="form-group input-field">
          </div>
          <button id="search-btn" class="btn">BUSCAR</button>
        </div>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-borderless text-center align-middle">
      <thead class="table-header">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Prestador</th>
        <th scope="col">Trámite</th>
        <th scope="col">Acciones</th>
      </tr>
      </thead>
      <tbody class="table-body">
      <tr>
        <td>1</td>
        <td>Juan Lagos</td>
        <td>Trámite de credencial</td>
        <td>
          <button class="btn action-btn">VER TRAMITE</button>
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td>Juan Lagos</td>
        <td>Trámite de credencial</td>
        <td>
          <button class="btn action-btn">VER TRAMITE</button>
        </td>
      </tr>
      <tr>
        <td>3</td>
        <td>Juan Lagos</td>
        <td>Trámite de credencial</td>
        <td>
          <button class="btn action-btn">VER TRAMITE</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
