<div class="container">
  <h4 class="mv-opt-title mt-5 mb-5">GESTION DE TRAMITES POR PROYECTO</h4>
</div>
<div class="container projects mb-5">
  <div class="mv-option-group" *ngFor="let p of proyectos">
    <button class="mv-option mv-opt-text" (click)="seleccionarProyecto(p.id)">
      <div class="icon"><i class="bi bi-file-text-fill"></i></div>
      <div class="inner-text">PROYECTO {{ p.id }}</div>
    </button>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <div class="d-flex justify-content-between mv-opt-text">
      <div id="project-id">PROYECTO {{ idProyecto }}</div>
      <div class="d-flex justify-content-end align-items-middle">
        <div class="search">
          <i id="input-icon" class="bi bi-search"></i>
          <input type="text" placeholder="NOMBRE DEL PRESTADOR" class="form-group input-field" [(ngModel)]="nombrePrestador">
        </div>
        <button id="search-btn" class="btn" (click)="buscarPrestadores()">BUSCAR</button>
      </div>
    </div>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-borderless text-center align-middle" *ngIf="busquedaPrestadores.length == 0">
    <thead class="table-header">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Prestador</th>
      <th scope="col">Trámite</th>
      <th scope="col">Acciones</th>
    </tr>
    </thead>
    <tbody class="table-body">
    <tr *ngFor="let tramite of listaTramites">
      <td>{{ tramite.id }}</td>
      <td>{{ tramite.nombrePrestador }}</td>
      <td>{{ tramite.nombre }}</td>
      <td>
        <button class="btn action-btn" (click)="goToTramites(tramite.id)">VER TRAMITE X</button>
      </td>
    </tr>
    </tbody>
  </table>

</div>
