<div class="row d-flex justify-content-center mt-2">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <form>
                    <div class="form-group mb-3">
                        <label class="mb-1 input-label" for="nombre">Nombre</label>
                        <input class="form-control form-control-md" type="text" id="nombre" name="nombre"
                            [(ngModel)]="tramite.nombre">
                    </div>
                    <div class="form-group mb-3">
                        <label class="mb-1 input-label" for="descripcion">Descripcion</label>
                        <input class="form-control form-control-md" type="text" id="descripcion" name="descripcion"
                            [(ngModel)]="tramite.descripcion">
                    </div>
                    <div class="form-group mb-3">
                        <label class="mb-1 input-label" for="fechaLimite">Fecha Limite</label>
                        <input class="form-control form-control-md" type="date" id="fechaLimite" name="fechaLimite"
                            [(ngModel)]="tramite.fechaLimite">
                    </div>
                    <div class="form-group mb-3" *ngIf="!tramiteSeleccionado">
                        <label class="mb-1 input-label" for="prestador">Prestador</label>
                        <select class="form-control form-control-md" id="prestador" name="prestador"
                            [(ngModel)]="tramite.idPrestador">
                            <option value="0" hidden disabled selected>Seleccione un prestador de la lista</option>
                            <option *ngFor="let p of prestadores" [value]="p.id_prestador"
                                [selected]="p.id_prestador === tramite.idPrestador">{{p.nombre}}</option>
                        </select>
                    </div>
                    <div class="form-group mb-3">
                        <label class="mb-1 input-label" for="prioridad">Prioridad</label>
                        <select class="form-control form-control-md" id="prioridad" name="prioridad"
                            [(ngModel)]="tramite.prioridad">
                            <option value="0" hidden disabled selected>Seleccione la prioridad del tramite</option>
                            <option *ngFor="let prioridad of prioridades" [ngValue]="prioridad"
                                [selected]="prioridad.id === tramite.prioridad.id">{{prioridad.nombre}}</option>
                        </select>
                    </div>
                    <div class="d-flex justify-content-end align-items-middle">
                        <button *ngIf="!tramiteSeleccionado" class="btn btn-primary save-btn" type="submit"
                            (click)="guardarTramite()">
                            <div>Guardar</div>
                            <i class="bi bi-floppy2-fill"></i>
                        </button>
                    </div>
                    <div class="d-flex justify-content-end align-items-middle">
                        <button *ngIf="tramiteSeleccionado" class="btn btn-primary update-btn" type="submit"
                            (click)="actualizarTramite()">
                            <div>Actualizar</div>
                            <i class="bi bi-arrow-clockwise"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>