<div class="contenedor">
  <div class="encabezado">
    <label>ADMINISTRACION Y REGISTRO</label>
  </div>

  <div class="contenidos mt-5">
    <div class="izquierda">
      <div class="irregularidad dimenciones" (click)="goToProyectos()">
        <div class="card margenes irregularidadV gestion">
          <div class="acciones">
            <div class="btn-group">
              <label class="info" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <h3>...</h3>
              </label>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item listaInfotecDorado">Ver información</a></li>
              </ul>
            </div>
          </div>
          <div style="display: flex;">
            <div class="contenidoIrregularidad">
              <div class="contenedorImagen">
                <img alt="imagenes" class="imagenes" src="../assets/clipboard-text.png">
              </div>
              <div class="nombreIrregularidad">
                ADMINISTRACION Y REGISTRO DE PROYECTOS
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="irregularidad dimenciones" (click)="goToPrestadores()">
        <div class="card margenes irregularidadV gestion">
          <div class="acciones">
            <div class="btn-group">
              <label type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <h3>...</h3>
              </label>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item listaInfotecDorado">Ver información</a></li>
              </ul>
            </div>
          </div>
          <div style="display: flex;">
            <div class="contenidoIrregularidad">
              <div class="contenedorImagen">
                <img class="imagenes" src="../assets/user-question.png">
              </div>
              <div class="nombreIrregularidad">
                ADMINISTRACION Y REGISTRO DE PRESTADORES DE SERVICIO
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>