<div class="row d-flex justify-content-center">
    <div class="col">
        <div class="card">
            <div class="d-flex justify-content-around align-items-center search-container">
                <div>
                    <button class="btn save-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">Agregar
                        prestador</button>
                </div>
                <div class=" d-flex">
                    <div class="search">
                        <i id="input-icon" class="bi bi-search"></i>
                        <input type="text" placeholder="PRESTADOR" class="form-group input-field" #txtSearch
                            (keyup)="onSearchPrestador( txtSearch.value )">
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-borderless text-center align-middle">
                <thead class="table-header">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellidos</th>
                        <th scope="col">Email</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Proyecto</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody class="table-body">
                    <tr *ngFor="let pres of prestadores | paginate: { itemsPerPage: items, currentPage: page }">
                        <td>{{ pres.id_prestador }}</td>
                        <td>{{ pres.nombre }}</td>
                        <td>{{ pres.apellidoP }} {{ pres.apellidoM}}</td>
                        <td id="email">{{ pres.correo }}</td>
                        <td>{{ pres.telefono }}</td>
                        <td>{{ pres.proyectoDTO.nombre }}</td>
                        <td>
                            <button class="btn sel-btn" title="Seleccionar" (click)="seleccionarPrestador(pres)">
                                <i class="bi bi-check-circle-fill" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal"></i>
                            </button>
                        </td>
                        <td>
                            <button class="btn del-btn" title="Eliminar" (click)="eliminarPrestador(pres.id_prestador)">
                                <i class="bi bi-trash3-fill"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="d-flex justify-content-center mt-2">
        <pagination-controls (pageChange)="page = $event" previousLabel="Anterior"
            nextLabel="Siguiente"></pagination-controls>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar prestador</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <app-form-prestador></app-form-prestador>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>