<div class="container">
  <h2 class="text-center mv-title mt-5">PANEL DE ADMINISTRACIÓN DE IRREGULARIDADES</h2>
  <div class="d-flex justify-content-evenly">
    <div class="container form">
      <div class="col-md-8 container">
        <div class="row d-flex justify-content-center mt-2">
              <div class="card-body">
                <form>
                  <div class="form-group mb-3 table">
                    <label class="mb-1 input-label" for="nombre">Irregularidad</label>
                    <input class="form-control form-control-md" type="text" id="nombre" name="nombre" [(ngModel)]="irregularidad.nombre">
                  </div>
                  <div class="form-group mb-3">
                    <label class="mb-1 input-label" for="representante">Descripción</label>
                      <input class="form-control form-control-md" type="text" id="descripcion" name="descripcion" [(ngModel)]="irregularidad.descripcion">
                  </div>
                  <div class="d-flex justify-content-end align-items-middle">
                    <button *ngIf="!irregularidadEncontrada" class="btn btn-primary save-btn" type="submit" (click)="crearIrregularidad(irregularidad)">
                      <div>Guardar</div>
                      <i class="bi bi-floppy2-fill"></i>
                    </button>
                  </div>
                  <div class="d-flex justify-content-end align-items-middle">
                    <button *ngIf="irregularidadEncontrada" class="btn btn-primary update-btn" type="submit" (click)="modificarIrregularidad(irregularidad)">
                      <div>Actualizar</div>
                      <i class="bi bi-arrow-clockwise"></i>
                    </button>
                  </div>
                </form>
              </div>
        </div>
        
      </div>
    </div>
    <div class="container list">
      <div class="col-md-12 container">
        <div class="row d-flex justify-content-center mt-2">
          <div class="col">
            <div class="table-responsive">
              <table class="table table-borderless text-center align-middle">
                <thead class="table-header">
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Descripción</th>
                  <th scope="col">Estatus</th>
                  <th scope="col">Modificar</th>
                  <th scope="col">Completar</th>
                </tr>
                </thead>
                <tbody class="table-body">
                <tr *ngFor="let i of listaIrregularidades">
                  <td>{{ i.id_irregularidad }}</td>
                  <td>{{ i.nombre }}</td>
                  <td>{{ i.descripcion }}</td>
                  <td>{{ i.estatus == true ? 'Pendiente' : 'Completado' }}</td>
                  <td>
                    <button class="btn sel-btn" title="Seleccionar" (click)="seleccionarIrregularidad(i)"><i class="bi bi-pencil-fill"></i></button>
                  </td>
                  <td>
                    <button class="btn del-btn" title="Completar" (click)="eliminarIrregularidad(i)"><i class="bi bi-check-circle-fill"></i></button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row col-md-12">


  </div>
</div>


