<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Modificar irregularidad</h3>
        </div>
            <div class="card-body">
            <form action="">
                <div class="form-group">
                    <label for="">Nombre:</label>
                    <input  [(ngModel)]="irregularidad.nombre" name="nombre" type="text" class="form-control">

                </div>
                <div class="form-group">
                    <label for="">Descripcion:</label>
                    <input [(ngModel)]="irregularidad.descripcion" name="descripcion" type="text" class="form-control">

                </div>
                <div class="form-group">
                    <label for="">Id_ticket:</label>
                    <input [(ngModel)]="irregularidad.id_ticket" name="id_ticket" type="text" class="form-control">

                </div>
                <button (click)="actualizar(irregularidad)" class="btn btn-danger">Guardar</button>
            </form>
            </div>
        </div>
        </div>