table {
  border: 2px solid rgb(147, 46, 66);
  border-radius: 0 0 5px 5px;
  border-collapse: separate;
  border-spacing: 0;
}

table th:last-child {
  border-left: none;
}

table th:nth-child(6) {
  border-right: none;
}

th {
  background-color: #10312b;
  color: #f7f7f7;
  border: 2px solid #f7f7f7;
  border-bottom: 0;
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

tbody,
a {
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #bc955c;
  text-decoration: none;
}

tr:hover {
  background-color: #e7e7e7;
}

#email {
  text-transform: none;
}

.sel-btn {
  height: 3rem;
  width: 3rem;
  background-color: #bc955c;
  color: #f7f7f7;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 1.5rem;
}

.sel-btn:hover {
  background-color: #ddc9a3;
}

.sel-btn:active {
  background-color: #9b7845;
}

.del-btn {
  height: 3rem;
  width: 3rem;
  background-color: rgb(97, 34, 50);
  color: #f7f7f7;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 1.5rem;
}

.del-btn:hover {
  background-color: rgb(147, 46, 66);
}

.del-btn:active {
  background-color: #491721;
}

.card {
  display: flex;
  justify-content: center;

  background-color: #10312b;
  border: 2px solid rgb(147, 46, 66);
  border-bottom: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.search-container {
  margin-right: 5px;
}

.search {
  position: relative;
}

.input-field {
  width: 30vw;
  height: 2rem;
  border-radius: 1rem 0 0 1rem;
  border: 1px solid #f7f7f7;
  border-right: none;
  padding-left: 30px;
  text-align: center;
  font-size: 0.75rem;
}

#input-icon {
  position: absolute;
  left: 10px;
  top: 7px;
}

#search-btn {
  width: 4rem;
  height: 2rem;
  background-color: #bc955c;
  color: #f7f7f7;
  font-size: 0.6rem;
  font-weight: bold;
  border-radius: 0 1rem 1rem 0;
  border: 1px solid #f7f7f7;
  border-left: none;
}

#search-btn:hover {
  background-color: #ddc9a3;
}

#search-btn:active {
  background-color: #9b7845;
}

.save-btn {
  background-color: #9b7845;
  color: #f7f7f7;
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
}

.save-btn:hover {
  background-color: #ddc9a3;
  color: #10312b;
}

.save-btn:active {
  background-color: #bc955c;
}
