<div class="row d-flex justify-content-center mt-2">
  <div class="col">
    <div class="card">
      <div class="d-flex justify-content-end align-items-middle search-container">
        <div class="search">
          <i id="input-icon" class="bi bi-search"></i>
          <input type="text" placeholder="GESTOR" class="form-group input-field">
        </div>
        <button id="search-btn" class="btn">BUSCAR</button>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-borderless text-center align-middle">
        <thead class="table-header">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Email</th>
            <th scope="col">Telefono</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody class="table-body">
          <tr *ngFor="let gestor of gestores">
            <td>{{ gestor.id_gestor }}</td>
            <td>{{ gestor.nombre }}</td>
            <td>{{ gestor.apellidoP }} {{ gestor.apellidoM}}</td>
            <td id="email">{{ gestor.correo }}</td>
            <td id="telefono">{{ gestor.telefono }}</td>
            <td>
              <button class="btn sel-btn" title="Seleccionar" (click)="seleccionarGestor(gestor)">
                <i class="bi bi-check-circle-fill"></i>
              </button>
            </td>
            <td>
              <button class="btn del-btn" title="Eliminar" (click)="eliminarGestor(gestor.id_gestor)">
                <i class="bi bi-trash3-fill"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-center">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
  </div>
</div>