<app-nav></app-nav>

<div class="container mt-5">
    <div class="d-flex">
        <div class="card menu" style="width: 18rem;">
            <div class="list-group">
                <button type="button" class="list-group-item list-group-item-action"
                    [class.active]="isActive('Gestores')" (click)="setActive('Gestores')"><i
                        class="bi bi-person-workspace me-2"></i>Gestores</button>
                <button type="button" class="list-group-item list-group-item-action"
                    [class.active]="isActive('Prestadores')" (click)="setActive('Prestadores')"> <i
                        class="bi bi-person-vcard me-2"></i>Prestadores</button>
            </div>
        </div>

        <div class="col-10 ms-4">
            <div *ngIf="show === 'Gestores'">
                <app-gestor></app-gestor>
            </div>
            <div *ngIf="show === 'Prestadores'">
                <app-prestador></app-prestador>
            </div>
        </div>
    </div>
</div>