.mv-title {
  text-align: center;
}

.projects {
  display: flex;
  justify-content: space-evenly;
}

.mv-option-group {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.mv-option {
  display: flex;
  justify-content: space-evenly;
  width: 25vw;
  height: 15vh;
  border: 1px solid #b2b2b2;
  padding: 1rem;
  border-radius: 5px;
  text-align: center;
  background-color: white;
}

.mv-option:hover {
  background-color: #e7e7e7;
  color: #6a6a6a;
}

.mv-option:focus {
  border: #bc955c;
  box-shadow: 0 0 3px 3px #bc955c;
}

.mv-opt-title {
  color: #10312b;
  font-weight: bold;
  text-align: left;
}

.mv-opt-text {
  color: #b2b2b2;
  text-decoration: none;
  word-break: break-word;
  align-items: center;
}

.icon {
  margin: 0;
  font-size: 2.5rem;
}

.inner-text,
#project-id {
  margin: 0;
  font-size: 0.75rem;
}

#project-id {
  color: #f7f7f7;
  font-weight: bold;
}

.card {
  width: 100%;
  background-color: #235b4e;
  border-radius: 5px 5px 0 0;
  border-bottom: none;
}

.dropdown-btn {
  width: 6rem;
  height: 2rem;
  background-color: #bc955c;
  color: #f7f7f7;
  font-size: 0.6rem;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid #f7f7f7;
}

.dropdown-btn:hover {
  background-color: #ddc9a3;
}

.dropdown-btn:active {
  background-color: #9b7845;
  color: #f7f7f7;
}

.dd-menu {
  height: 2rem;
  background-color: #f7f7f7;
  border-radius: 5px;
  color: #bc955c;
  font-size: 0.6rem;
  font-weight: bold;
  text-transform: uppercase;
}

.dd-item {
  font-weight: bold;
}

.dropdown-item {
  color: #bc955c;
  font-size: 0.6rem;
  font-weight: bold;
  text-transform: uppercase;
}

.dropdown-item:hover {
  background-color: #e7e7e7;
  color: #bc955c;
}

#reset-filters {
  height: 2rem;
  background-color: #bc955c;
  font-size: 0.6rem;
  font-weight: bold;
  color: #f7f7f7;
  border-radius: 5px;
  border: 1px solid #f7f7f7;
}

#reset-filters:hover {
  background-color: #ddc9a3;
}

#reset-filters:active {
  background-color: #9b7845;
}

.search {
  position: relative;
}

.input-field {
  width: 30vw;
  height: 2rem;
  border-radius: 1rem 0 0 1rem;
  border: 1px solid #f7f7f7;
  border-right: none;
  padding-left: 30px;
  text-align: center;
  font-size: 0.75rem;
}

#input-icon {
  position: absolute;
  left: 10px;
  top: 4px;
}

#search-btn {
  width: 4rem;
  height: 2rem;
  background-color: #bc955c;
  color: #f7f7f7;
  font-size: 0.6rem;
  font-weight: bold;
  border-radius: 0 1rem 1rem 0;
  border: 1px solid #f7f7f7;
  border-left: none;
}

#search-btn:hover {
  background-color: #ddc9a3;
}

#search-btn:active {
  background-color: #9b7845;
}

table {
  width: 100%;
  border: 2px solid #235b4e;
  border-radius: 0 0 5px 5px;
  border-collapse: separate;
  border-spacing: 0;
}

table tr:hover {
  background-color: #e7e7e7;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 5px;
}

table tr:last-child td:first-child {
  border-bottom-right-radius: 5px;
}

th {
  border: 2px solid #f7f7f7;
  border-bottom: 0;
  background-color: #235b4e;
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #f7f7f7;
}

tbody {
  background-color: #f7f7f7;
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #bc955c;
}

.action-btn {
  height: 1.8rem;
  background-color: #bc955c;
  border: none;
  color: #f7f7f7;
  font-size: 0.6rem;
  font-weight: bold;
}

.action-btn:hover {
  background-color: #ddc9a3;
}

.action-btn:active {
  background-color: #9b7845;
  color: #f7f7f7;
}
