<div class="container">
  <h4 class="mv-opt-title mt-5 mb-5">GESTION DE TRAMITES</h4>
</div>
<div class="card">
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex">
        <select id="dd-menu" class="dd-menu" [(ngModel)]="filtro">
          <option value="" disabled selected hidden>Buscar por</option>
          <option class="dd-item" value="prestador">Prestador</option>
          <option class="dd-item" value="proyecto">Proyecto</option>
          <option class="dd-item" value="prioridad">Prioridad</option>
        </select>
        <button id="reset-filters" class="btn ms-2" data-bs-toggle="modal" data-bs-target="#exampleModal">AGREGAR
          TRAMITE</button>
      </div>
      <div class="search">
        <i id="input-icon" class="bi bi-search"></i>
        <input type="text" placeholder="" class="form-group input-field" #txtSearch
          (keyup)="onSearchTramite( txtSearch.value )">
      </div>
    </div>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-borderless text-center align-middle">
    <thead class="table-header">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Trámite</th>
        <th scope="col">Prioridad</th>
        <th scope="col">Prestador</th>
        <th scope="col">Proyecto</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody class="table-body">
      <tr *ngFor="let tramite of tramites | tramite: busqueda | paginate: { itemsPerPage: items, currentPage: page }">
        <td>{{ tramite.id }}</td>
        <td>{{ tramite.nombre }}</td>
        <td>{{tramite.prioridad.nombre}}</td>
        <td>{{ tramite.prestadorDTO.nombre }} {{ tramite.prestadorDTO.apellidoP }} {{ tramite.prestadorDTO.apellidoM }}
        </td>
        <td>{{ tramite.prestadorDTO.proyecto.nombre }}</td>
        <td>
          <button class="btn action-btn" (click)="goToTramites(tramite.id)">VER TRAMITE</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-center mt-2">
    <pagination-controls (pageChange)="page = $event" previousLabel="Anterior"
      nextLabel="Siguiente"></pagination-controls>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">TRAMITE</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-form-tramite></app-form-tramite>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>
</div>