.card {
  border: 2px solid rgb(147, 46, 66);
}

.input-label {
  color: #BC955C;
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

#nombre {
  font-size: 0.75rem;
  text-transform: uppercase;
}

#gestores {
  font-size: 0.75rem;
  text-transform: uppercase;
}

mat-label {
  color: #BC955C;
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}


.save-btn {
  height: 3rem;
  width: 8rem;
  background-color: #10312B;
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
}

.save-btn:hover {
  background-color: #235B4E;
}

.save-btn:active {
  background-color: #0C2722;
}

.update-btn {
  height: 3rem;
  width: 8rem;
  background-color: rgb(97, 34, 50);
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
}

.update-btn:hover {
  background-color: rgb(147, 46, 66);
}

.update-btn:active {
  background-color: #491721;
}
/*form {
  max-width: 400px;
  margin: 0 auto;
}


.input-label {
  font-weight: bold;
}


.form-control {
  border-radius: 5px;
  border: 1px solid #ced4da;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


.btn {
  border-radius: 5px;
  padding: 0.375rem 0.75rem;
  cursor: pointer;
}


.save-btn {
  background-color: #007bff; 
  color: #fff;
}

.update-btn {
  background-color: #28a745; 
  color: #fff;
}


.bi {
  margin-right: 5px;
}*/


