<div class="contenedor">
    <div class="encabezado">
        <label> TRÁMITES ACTIVOS</label>
    </div>

    <div class="contenidos">
        <div class="izquierda">
            <div class="irregularidad dimenciones" (click)="goToGestionPorProyecto()">
                <div class="card margenes irregularidadV gestion">
                    <div class="acciones">
                        <div class="btn-group">
                            <label class="info" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <h3>...</h3>
                            </label>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item listaInfotecDorado">Ver información</a></li>
                            </ul>
                        </div>
                    </div>
                    <div style="display: flex;">
                        <div class="contenidoIrregularidad">
                            <div class="contenedorImagen">
                                <img alt="imagenes" class="imagenes" src="../assets/clipboard-text.png">
                            </div>
                            <div class="nombreIrregularidad">
                                GESTIONAR TRÁMITES POR CÓDIGO O NOMBRE DE PROYECTO
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="irregularidad dimenciones" (click)="goToGestionPorPrestador()">
                <div class="card margenes irregularidadV gestion">
                    <div class="acciones">
                        <div class="btn-group">
                            <label type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <h3>...</h3>
                            </label>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item listaInfotecDorado">Ver información</a></li>
                            </ul>
                        </div>
                    </div>
                    <div style="display: flex;">
                        <div class="contenidoIrregularidad">
                            <div class="contenedorImagen">
                                <img class="imagenes" src="../assets/user-question.png">
                            </div>
                            <div class="nombreIrregularidad">
                                GESTIONAR TRÁMITES POR NOMBRE DEL PRESTADOR DE SERVICIOS
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="irregularidad dimenciones" (click)="goToGestionPorPrioridad()">
                <div class="card margenes irregularidadV gestion">
                    <div class="acciones">
                        <div class="btn-group">
                            <label type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <h3>...</h3>
                            </label>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item listaInfotecDorado">Ver información</a></li>
                            </ul>
                        </div>
                    </div>
                    <div style="display: flex;">
                        <div class="contenidoIrregularidad">
                            <div class="contenedorImagen">
                                <img class="imagenes" src="../assets/file-alert.png">
                            </div>
                            <div class="nombreIrregularidad">
                                GESTIONAR TRÁMITES PRIORITARIOS
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="derecha">
            <div class="irregularidad dimenciones" (click)="goToTramite()">
                <div class="card margenes irregularidadV gestion">
                    <div class="acciones">
                        <div class="btn-group">
                            <label type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <h3>...</h3>
                            </label>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item listaInfotecDorado">Ver información</a></li>
                            </ul>
                        </div>
                    </div>
                    <div style="display: flex;">
                        <div class="contenidoIrregularidad">
                            <div class="contenedorImagen">
                                <img class="imagenes" src="../assets/clipboard-text.png">
                            </div>
                            <div class="nombreIrregularidad">
                                CREAR TRAMITE
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="irregularidad dimenciones">
                <div class="card margenes irregularidadV">
                    <div class="acciones">
                        <div class="btn-group">
                            <label type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <h3>...</h3>
                            </label>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item listaInfotecDorado">Ver información</a></li>
                            </ul>
                        </div>
                    </div>
                    <div style="display: flex;">
                        <div class="contenidoIrregularidad">
                            <div class="contenedorImagen">
                                <img class="imagenes" src="../assets/briefcase.png">
                            </div>
                            <div class="nombreIrregularidad">
                                GESTIONAR TRÁMITES POR ÁREA DE TRABAJO
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="irregularidad dimenciones">
                <div class="card margenes irregularidadV">
                    <div class="acciones">
                        <div class="btn-group">
                            <label type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <h3>...</h3>
                            </label>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item listaInfotecDorado">Ver información</a></li>
                            </ul>
                        </div>
                    </div>
                    <div style="display: flex;">
                        <div class="contenidoIrregularidad">
                            <div class="contenedorImagen">
                                <img class="imagenes" src="../assets/file-dollar.png">
                            </div>
                            <div class="nombreIrregularidad">
                                SEGUIMIENTO DE PAGOS MENSUALES DE LOS PRESTADORES DE SERVICIOS
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="contenedorBtn">
        <button class="btn btnInfotecV">MOSTRAR EN CALENDARIO LOS TRÁMITES PEINDIENTES HASTA EL DIA DE HOY</button>
    </div>

</div>